* {
    margin: 0;
    padding: 0;
}

.banner {
text-align: center;
background-color: black;
color: white;
}

#box {
    display: flex;
    flex-wrap: wrap;
}

#left-column {
    /* display: flex;  */
    border: 1px solid;
  
     /* height: 800px;  */
}

/* #weather-display {
    width: 100%;
   
    display: flex;
    justify-content: center;
} */

#daily-weather {
    border: 1px solid;
    width: 100%;
    height: 200px;
    text-align: left;
}

#daily-weather h2 {
    margin-left: 150px;
}

#daily-weather h4{
    margin-left: 150px;
}


#five-day {
    text-align: center;
    justify-content: space-evenly;
    border: 1px solid;
     width: 100%;
    height: 400px;
}

#cities {
     margin: 1px 0;
}

#cards {display: none}

li {
    cursor: pointer;
}

